# HTTP Server
HOST=0.0.0.0
PORT=8000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=notification_db

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=notification_requests
KAFKA_RETRY_TOPIC=notification_retry
KAFKA_CONSUMER_GROUP=notification_consumer_group

# Consumer
CONSUMER_WORKERS=5

# Retry
MAX_RETRY_COUNT=5
